
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

:root {
    --main-font: 'Noto Sans Display', sans-serif;
    --main-font-color-headings: #f7ecd1; 
    --main-font-color: #908a76;
    --main-bg-color: #070831;
    --white: #fff;

  }

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: var(--main-font-color);
}

h2, a {
    color: var(--main-font-color-headings);
}

header, main, footer {
    flex-shrink: 0;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.navbar {
    flex: 75%;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.social {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--white);
    width: 50%;
}

.icon {
    font-size: 3rem;
    color: var(--main-font-color-head);
    margin-bottom: 15px;
}  
            


@media (max-width: 800px) {
    .logo, .navbar {
      flex: 100%;
      height: 150px;
    }
  }